blessed==1.17.6
cffi==1.14.6
colorama==0.4.4
inquirer==2.7.0
Pillow==9.0.0
pkg_resources==0.0.0
pycparser==2.20
python-editor==1.0.4
readchar==2.0.1
semantic-version==2.8.5
setuptools-rust==0.12.1
cryptography==35.0.0
six==1.16.0
toml==0.10.2
wcwidth==0.2.5
